 h1 {
            color:blue;
            font-family: Arial;
        }
        .strong {
            color:blue;
            font-family: Arial;

      
   h2{
            color:green;
            font-size:medium;
       
